log:
  level: info

runner:
  file: /data/.runner

  capacity: 3

  timeout: 3h

  insecure: false

  fetch_timeout: 2s

  fetch_interval: 2s

  labels:
    - "ubuntu-latest:docker://node:20-bookworm"
    - "ubuntu-22.04:docker://node:20-bookworm"
    - "linux:docker://node:20-bookworm"

cache:
  enabled: true
  dir: /data/cache
  host: ""
  port: 0

container:
  network: "datamancy-stack_docker-proxy"

  privileged: false

  options: ""

  workdir_parent: /workspace

host:
  workdir_parent: /data/actions
