---
theme: dark
server:
  address: tcp://0.0.0.0:9091/
  buffers:
    read: 8192
    write: 8192
  endpoints:
    authz:
      forward-auth:
        implementation: ForwardAuth
    enable_pprof: false
    enable_expvars: false
  timeouts:
    read: 30s
    write: 30s
    idle: 120s

log:
  level: info
  format: text

telemetry:
  metrics:
    enabled: true
    address: tcp://0.0.0.0:9959

totp:
  issuer: {{DOMAIN}}
  period: 30
  skew: 1

authentication_backend:
  refresh_interval: 5m
  password_reset:
    disable: false
  ldap:
    implementation: custom
    address: ldap://ldap:389
    timeout: 5s
    start_tls: false
    base_dn: {{LDAP_BASE_DN}}
    additional_users_dn: ou=users
    users_filter: (&({username_attribute}={input})(objectClass=inetOrgPerson))
    additional_groups_dn: ou=groups
    groups_filter: (&(member={dn})(objectClass=groupOfNames))
    attributes:
      username: uid
      group_name: cn
      mail: mail
      display_name: displayName
    user: cn=admin,{{LDAP_BASE_DN}}

access_control:
  default_policy: deny
  rules:
    - domain: auth.{{DOMAIN}}
      policy: bypass
    - domain_regex: '^(authelia|authelia:[0-9]+)$'
      policy: bypass
    - domain: homeassistant.{{DOMAIN}}
      policy: bypass
      resources:
        - "^/api/webhook/.*$"
    - domain: qbittorrent.{{DOMAIN}}
      policy: one_factor
    - domain: {{DOMAIN}}
      policy: one_factor
      subject:
        - "group:admins"
        - "group:operators"
        - "group:users"
    - domain: "*.{{DOMAIN}}"
      policy: one_factor
      subject:
        - "group:admins"
        - "group:operators"
        - "group:users"

session:
  cookies:
    - domain: {{DOMAIN}}
      name: authelia_session
      authelia_url: https://auth.{{DOMAIN}}
      same_site: lax
      expiration: 8h
      inactivity: 1h
  remember_me: 7d
  redis:
    host: valkey
    port: 6379
    username: authelia
    database_index: 0

regulation:
  max_retries: 5
  find_time: 2m
  ban_time: 5m

identity_validation:
  reset_password:

storage:
  encryption_key: a_very_important_secret
  postgres:
    address: tcp://postgres:5432
    database: authelia
    schema: public
    username: authelia
    timeout: 5s

notifier:
  disable_startup_check: true
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: another_very_important_secret
    lifespans:
      access_token: 1h
      authorize_code: 1m
      id_token: 1h
      refresh_token: 90m
    enable_client_debug_messages: false
    enforce_pkce: public_clients_only
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true
    jwks:
      - key_id: main
        algorithm: RS256
        use: sig
        key: |
          {{AUTHELIA_OIDC_PRIVATE_KEY}}

    clients:
      - client_id: pgadmin
        client_name: pgAdmin
        client_secret: '{{PGADMIN_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://pgadmin.{{DOMAIN}}/oauth2/authorize
        scopes:
          - openid
          - profile
          - email
        grant_types:
          - authorization_code
        response_types:
          - code


      - client_id: open-webui
        client_name: Open WebUI
        client_secret: '{{OPENWEBUI_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://open-webui.{{DOMAIN}}/oauth/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      - client_id: dim
        client_name: Dim
        client_secret: '{{DIM_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://dim.{{DOMAIN}}/api/v1/auth/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      - client_id: planka
        client_name: Planka
        client_secret: '{{PLANKA_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        token_endpoint_auth_method: client_secret_basic
        redirect_uris:
          - https://planka.{{DOMAIN}}/oidc-callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        response_modes:
          - query
          - fragment
          - form_post

      - client_id: vaultwarden
        client_name: Vaultwarden
        client_secret: '{{VAULTWARDEN_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://app.vaultwarden.{{DOMAIN}}/identity/connect/oidc-signin
        scopes:
          - openid
          - profile
          - email
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_basic

      - client_id: mastodon
        client_name: Mastodon
        client_secret: '{{MASTODON_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://mastodon.{{DOMAIN}}/auth/auth/openid_connect/callback
        scopes:
          - openid
          - profile
          - email
        grant_types:
          - authorization_code
        response_types:
          - code

      - client_id: bookstack
        client_name: Bookstack
        client_secret: '{{BOOKSTACK_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        redirect_uris:
          - https://bookstack.{{DOMAIN}}/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_basic

      - client_id: forgejo
        client_name: Forgejo
        client_secret: '{{FORGEJO_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://forgejo.{{DOMAIN}}/user/oauth2/Authelia/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_basic

      - client_id: matrix
        client_name: Matrix Synapse
        client_secret: '{{MATRIX_OAUTH_SECRET_HASH}}'
        public: false
        authorization_policy: one_factor
        consent_mode: implicit
        redirect_uris:
          - https://matrix.{{DOMAIN}}/_synapse/client/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_post
