---
# ==============================================
# PRODUCTION DOMAIN: project-saturn.com
# All domains, session cookies, and redirect URIs
# use project-saturn.com for production deployment.
# ==============================================
theme: dark
server:
  host: 0.0.0.0
  port: 9091
  read_buffer_size: 8192
  write_buffer_size: 8192
  timeouts:
    read: 30s
    write: 30s
    idle: 120s

log:
  level: info
  format: text

telemetry:
  metrics:
    enabled: true
    address: tcp://0.0.0.0:9959

totp:
  issuer: project-saturn.com
  period: 30
  skew: 1

authentication_backend:
  refresh_interval: 5m
  password_reset:
    disable: false
  ldap:
    implementation: custom
    url: ldap://ldap:389
    timeout: 5s
    start_tls: false
    base_dn: dc=stack,dc=local
    username_attribute: uid
    additional_users_dn: ou=users
    users_filter: (&({username_attribute}={input})(objectClass=inetOrgPerson))
    additional_groups_dn: ou=groups
    groups_filter: (&(member={dn})(objectClass=groupOfNames))
    group_name_attribute: cn
    mail_attribute: mail
    display_name_attribute: displayName
    user: cn=admin,dc=stack,dc=local

access_control:
  default_policy: deny
  rules:
    - domain: auth.project-saturn.com
      policy: bypass
    # Container management requires admin access
    - domain: dockge.project-saturn.com
      policy: one_factor
      subject:
        - "group:admins"
    # All other services accessible to admins and users
    - domain: "*.project-saturn.com"
      policy: one_factor
      subject:
        - "group:admins"
        - "group:users"

session:
  name: authelia_session
  domain: project-saturn.com
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
  redis:
    host: redis
    port: 6379
    database_index: 0

regulation:
  max_retries: 5
  find_time: 2m
  ban_time: 5m

storage:
  encryption_key: a_very_important_secret # Will be overridden by env var
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: true
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    hmac_secret: another_very_important_secret # Will be overridden by env var
    issuer_private_key: |
      # Will be overridden by env var
    access_token_lifespan: 1h
    authorize_code_lifespan: 1m
    id_token_lifespan: 1h
    refresh_token_lifespan: 90m
    enable_client_debug_messages: false
    enforce_pkce: public_clients_only
    cors:
      endpoints:
        - authorization
        - token
        - revocation
        - introspection
      allowed_origins_from_client_redirect_uris: true

    clients:
      # Grafana
      - client_id: grafana
        client_name: Grafana
        client_secret: '$pbkdf2-sha512$310000$sdc15.QdoAQO5WaI34.SIA$9/Rzr6h4VD1dfMgwcJ3oguW5CPXpieD8bpgoNTuL980Cwl1qRXmpXVpwNVU7T1e4IfebEO/bjG.FDTYy2evieA'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://grafana.project-saturn.com/login/generic_oauth
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_basic

      # pgAdmin
      - client_id: pgadmin
        client_name: pgAdmin
        client_secret: '$pbkdf2-sha512$310000$hGULPsGTpdhUaJArnFQw1w$DTGHhG8IH1MKr/CBtF4SyfYz0ShKwYLHhmaplEkRoQjGlUS8w41j.8haBv4YFEnMkTMm9ssWRyHk.VqwN1hZ.A'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://pgadmin.project-saturn.com/oauth2/authorize
        scopes:
          - openid
          - profile
          - email
        grant_types:
          - authorization_code
        response_types:
          - code

      # Dockge (Container Management)
      - client_id: dockge
        client_name: Dockge
        client_secret: '$pbkdf2-sha512$310000$xjrtm1exLKsKtYqhd87hmw$k6Ovf7uY0UrNmqb2C2UdOuET9jQBgrSL3MSAxJmn.NrejoZC0fxEZBOTJaIvRkAO.QkVwAX09m1005DccL2DMA'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://dockge.project-saturn.com/
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      # Open WebUI
      - client_id: open-webui
        client_name: Open WebUI
        client_secret: '$pbkdf2-sha512$310000$l1hLi5YZi6aUcZrwt33IjA$hetxpKIsg4VcjN/yx7QgwMf5aAHu76WhirCGOTMJW4p4ePOx5OiTtqyM.39snwLcHE6cR4JAExVsnAkJR.n4Ng'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://open-webui.project-saturn.com/oauth/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      # Nextcloud
      - client_id: nextcloud
        client_name: Nextcloud
        client_secret: '$pbkdf2-sha512$310000$rxb1/DG60ybksyZZBllrkQ$L/G5aC852AnxXBTGD3rVtqXT3QWYFvfeVKyWNLwmIFXb/Xkt.09CRbsjGdooX9qc7alqlrpqVweZqoanlVHfSw'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://nextcloud.project-saturn.com/apps/oidc_login/oidc
          - https://nextcloud.project-saturn.com/apps/user_oidc/code
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_post

      # Vaultwarden
      - client_id: vaultwarden
        client_name: Vaultwarden
        client_secret: '$pbkdf2-sha512$310000$rUoGUpLCvzh/QGh9kr/.OA$I2pa0SG.7KUcwOE/k1O8JWdYOstYQYmguzkLonGszpqrUPkSA2DXz.cQYEXyS/wEaT8hkWbHgX.bfdVrJ1wXaQ'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://vaultwarden.project-saturn.com/identity/connect/oidc-signin
        scopes:
          - openid
          - profile
          - email
          - offline_access
        grant_types:
          - authorization_code
        response_types:
          - code

      # Dim Media Server
      - client_id: dim
        client_name: Dim
        client_secret: '$pbkdf2-sha512$310000$mtRWWM6rKQX2xKHXjXZ7jA$3gIN6Y2Zlg5W9U1H50bvRrh6335PtoPKgepQkSVQ5vp7bnXbONPtycolpHtgGeXiH5UfhHHFQda0N3FkTI2eWw'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://dim.project-saturn.com/api/v1/auth/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      # Planka
      - client_id: planka
        client_name: Planka
        client_secret: '$pbkdf2-sha512$310000$TGYuFojCMUJkeHtll1uIbA$6vo1/Tf4KclfPPHUMogBprbrV.9Wydb8i3yJwzovTYsuWPIPux083f1.SdJOLbTbwJMWUGPEEndUs3BN8Z04ow'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://planka.project-saturn.com/oidc-callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        response_modes:
          - query
          - fragment
          - form_post

      # Outline
      - client_id: outline
        client_name: Outline
        client_secret: '$pbkdf2-sha512$310000$kILu7MxfIWpSRJYeWbBF2w$96vDQRgHjA/ico12uDh4GJiNEJZQL2SbmQuQrBoOL1a7Fa5Bt/H8hqH3HMny.y5f/otCmxOuZ5tUW0y5fcOuyA'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://outline.project-saturn.com/auth/oidc.callback
        scopes:
          - openid
          - profile
          - email
          - offline_access
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_post

      # Home Assistant
      - client_id: home-assistant
        client_name: Home Assistant
        client_secret: '$pbkdf2-sha512$310000$nFwKGC1LCgUVzGjhK.769g$BQ83aKaFDJ5ljHjiWyVV2du/TS6yRanKPf0jYNpczttbZdpCg/56pLx1FtR.7Gqswti.SWHFnRi/cyR1pI5qBA'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://homeassistant.project-saturn.com/auth/external/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code

      # JupyterHub
      - client_id: jupyterhub
        client_name: JupyterHub
        client_secret: '$pbkdf2-sha512$310000$TfK96.U2ZxeoDXe5txMcTw$MqxrLDShlt3/MXo5W.VNX4jVNv5GXVYOT5DTP/ZnRx6iocUeAeJFR5OV8Z8DsNTdWUqEnkAJIHg2XZLhJ54XCg'
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - https://jupyterhub.project-saturn.com/hub/oauth_callback
        scopes:
          - openid
          - profile
          - email
          - groups
        grant_types:
          - authorization_code
        response_types:
          - code
        token_endpoint_auth_method: client_secret_post
