# Homepage Widgets
# Provenance: https://gethomepage.dev/latest/configs/widgets/

- resources:
    cpu: true
    memory: true
    disk: /

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false
