# Dex Configuration for Lab Services

issuer: https://dex.lab.localhost

storage:
  type: sqlite3
  config:
    file: /var/dex/dex.db

web:
  http: 0.0.0.0:5556

telemetry:
  http: 0.0.0.0:5558

# LDAP connector
connectors:
- type: ldap
  id: ldap
  name: LDAP
  config:
    host: openldap:389
    insecureNoSSL: true
    insecureSkipVerify: true

    # Bind credentials
    bindDN: cn=admin,dc=lab,dc=localhost
    bindPW: adminpass123

    # User search
    userSearch:
      baseDN: ou=users,dc=lab,dc=localhost
      filter: "(objectClass=inetOrgPerson)"
      username: uid
      idAttr: uid
      emailAttr: mail
      nameAttr: cn
      preferredUsernameAttr: uid

    # Group search
    groupSearch:
      baseDN: ou=groups,dc=lab,dc=localhost
      filter: "(objectClass=posixGroup)"
      userMatchers:
      - userAttr: uid
        groupAttr: memberUid
      nameAttr: cn

# OAuth2 clients for each service
staticClients:
# Grafana
- id: grafana
  redirectURIs:
  - 'https://grafana.lab.localhost/login/generic_oauth'
  name: 'Grafana'
  secret: grafana_secret_change_me

# JupyterHub
- id: jupyterhub
  redirectURIs:
  - 'https://jupyter.lab.localhost/hub/oauth_callback'
  name: 'JupyterHub'
  secret: jupyterhub_secret_change_me

# LibreChat
- id: librechat
  redirectURIs:
  - 'https://chat.lab.localhost/oauth/openid/callback'
  name: 'LibreChat'
  secret: librechat_secret_change_me

# Planka
- id: planka
  redirectURIs:
  - 'https://tasks.lab.localhost/oidc/callback'
  name: 'Planka'
  secret: planka_secret_change_me

# Nextcloud
- id: nextcloud
  redirectURIs:
  - 'https://nextcloud.lab.localhost/apps/oidc_login/oidc'
  name: 'Nextcloud'
  secret: nextcloud_secret_change_me

# Jellyfin
- id: jellyfin
  redirectURIs:
  - 'https://jellyfin.lab.localhost/sso/OID/redirect/Dex'
  name: 'Jellyfin'
  secret: jellyfin_secret_change_me

# Outline
- id: outline
  redirectURIs:
  - 'https://outline.lab.localhost/auth/oidc.callback'
  name: 'Outline'
  secret: outline_secret_change_me

# Forward Auth Gateway (for non-OIDC services)
- id: forward-auth
  redirectURIs:
  - 'https://auth.lab.localhost/callback'
  name: 'Forward Auth'
  secret: forward_auth_secret_change_me

# Enable password grant for testing
enablePasswordDB: false

# Expiry settings
expiry:
  deviceRequests: "5m"
  signingKeys: "6h"
  idTokens: "24h"
  refreshTokens:
    reuseInterval: "3s"
    validIfNotUsedFor: "2160h" # 90 days
    absoluteLifetime: "3960h" # 165 days

logger:
  level: "debug"
  format: "text"
