services:
  # Step 1/2 bits
  whoami:
    labels:
      caddy.tls: internal
  authelia:
    labels:
      caddy.tls: internal
  caddy-config:
    labels:
      # the base-domain vhost uses numbered labels
      caddy_2.tls: internal

  # Step 3: observability
  prometheus:
    labels:
      caddy.tls: internal
  alertmanager:
    labels:
      caddy.tls: internal
  loki:
    labels:
      caddy.tls: internal
  grafana:
    labels:
      caddy.tls: internal

  # Step 4: AI & apps
  localai:
    labels:
      caddy.tls: internal
  librechat:
    labels:
      caddy.tls: internal
  benthos:
    labels:
      caddy.tls: internal
  browserless:
    labels:
      caddy.tls: internal
  nextcloud:
    labels:
      caddy.tls: internal
  vaultwarden:
    labels:
      caddy.tls: internal
  jupyterhub:
    labels:
      caddy.tls: internal
  planka:
    labels:
      caddy.tls: internal
