services:
  chrome:
    image: selenium/standalone-chrome:latest
    container_name: selenium-chrome
    shm_size: 2gb
    ports:
      - "4444:4444"
      - "7900:7900"
    networks:
      - app_net

  test-runner:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: oidc-test-runner
    depends_on:
      - chrome
    environment:
      - SELENIUM_URL=http://chrome:4444
    networks:
      - app_net

networks:
  app_net:
    external: true
