# docker-compose.override.yml
x-tls-labels: &tls_labels
  caddy.tls: /certs/wildcard.pem /certs/wildcard-key.pem


services:
  caddy:
    volumes:
      - /home/gerald/_wildcard.localhost+1.pem:/certs/wildcard.pem:ro
      - /home/gerald/_wildcard.localhost+1-key.pem:/certs/wildcard-key.pem:ro


  # Apply the same TLS cert to selected hosts (reuses the anchor)
  grafana:
    labels: *tls_labels

  loki:
    labels: *tls_labels

  netdata:
    labels: *tls_labels

  benthos:
    labels: *tls_labels

  browserless:
    labels: *tls_labels

  ollama:
    labels: *tls_labels

  librechat:
    labels: *tls_labels

  nextcloud:
    labels: *tls_labels

  portainer:
    labels: *tls_labels

  jellyfin:
    labels: *tls_labels

  qbittorrent:
    labels: *tls_labels

  vaultwarden:
    labels: *tls_labels

  jupyter:
    labels: *tls_labels

  authelia:
    labels: *tls_labels

  clickhouse:
    labels: *tls_labels