http:
  address: 0.0.0.0:4199
  enabled: true

resources:
  caches:
    dedupe_mem:
      memory: {}
  rate_limits:
    api_rl:
      local:
        count: 3
        interval: 1s

input:
  broker:
    inputs:
      - label: yahoo_rss
        http_client:
          url: ${YAHOO_NEWS_FEED:https://feeds.finance.yahoo.com/rss/2.0/headline?s=AAPL&region=US&lang=en-US}
          verb: GET
          rate_limit: api_rl
        processors:
          - mapping: 'root = if env("YAHOO_FINANCE_ALLOWED") != "true" { deleted() } else { this }'
          - xml:
              operator: to_json
          - mapping: |
              root = (this.rss.channel.item | this.feed.entry).map_each(item -> {
                let title = item.title.string()
                let descr = (item.description | item.summary).string()
                let link = (item.link.@href | item.link).string()
                let pub = (item.pubDate | item.published).string()
                {
                  "id": (link.or(title + pub)).hash("sha1"),
                  "text": (title + "\n\n" + descr).trim(),
                  "payload": {
                    "source": env("YAHOO_NEWS_FEED"),
                    "title": title,
                    "summary": descr,
                    "link": link,
                    "published": pub
                  }
                }
              })
          - unarchive:
              format: json_array
          - mapping: |
              root.collection = env("TARGET_COLLECTION", "yahoo_finance")
              root.id = this.id
              root.text = this.text
              root.payload = this.payload
              root.payload.text = this.text
          - dedupe:
              cache: dedupe_mem
              hash: "${! this.id }"
          - branch:
              processors:
                - http:
                    url: ${LITELLM_URL:http://litellm:4000/v1}/embeddings
                    verb: POST
                    headers:
                      Content-Type: application/json
                    body: 'root = {"input":[ this.text ],"model": env("EMBED_MODEL","embed-small") }'
                - mapping: 'root = {"vector": this.data.0.embedding }'
              result_map: 'root.vector = this.vector'

output:
  http_client:
    url: ${QDRANT_URL:http://qdrant:6333}/collections/${TARGET_COLLECTION:yahoo_finance}/points?wait=true
    verb: PUT
    headers:
      Content-Type: application/json
      api-key: ${QDRANT_API_KEY:}
    body: 'root = {"points":[{"id": this.id, "vector": this.vector, "payload": this.payload}]}'

logger:
  level: INFO
  format: json
