http:
  address: 0.0.0.0:4195
  enabled: true
  root_path: /benthos
  debug_endpoints: true

input:
  http_server:
    address: 0.0.0.0:4196
    path: /post
    allowed_verbs:
      - POST

pipeline:
  processors:
    - log:
        level: INFO
        message: "Processing message: ${!content()}"

output:
  http_server:
    address: 0.0.0.0:4197
    path: /get
    stream_path: /get/stream
    ws_path: /get/ws

metrics:
  prometheus:
    push_url: ""
    push_interval: 1m

logger:
  level: INFO
  format: json
  add_timestamp: true
